
     {% extends 'coop_challenge/base.html' %}
{% load static %}
     {% block body %}   
     <h2 style="margin-top: 10px;">About us</h2>
            <img style="width:500; margin-top: 20px;" src="{% static 'coop_challenge/img/team10.jpeg' %}"/>
        </br>
            <h5 style= "margin-top: 20px;">
            Make your wine cellar spark joy! At BaselHack 2022, 8 motivated hackers got together to develop a wine manager.</p>
            <p>This is TroVino - find my wine!</p>
        </h5>
    </br>
    <h6 style= "margin-top: 20px;">Andrei, Jozef, Miruna, Noel, Nour, Omar, Phaina, Rui </p> </h6>
            
{% endblock %}