<html lang="en">
    {%load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Wine Manager</title>
    <script src="{% static 'coop_challenge/js/html5-qrcode.js' %}"></script>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'coop_challenge/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'coop_challenge/css/bootstrap-reboot.min.css' %}" rel="stylesheet">
    <link href="{% static 'coop_challenge/css/bootstrap-grid.min.css' %}" rel="stylesheet">
    <link href="{% static 'coop_challenge/css/bootstrap-utilities.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'coop_challenge/css/dashboard.css' %}" rel="stylesheet">
</head>

<body>
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" style="font-weight: bold; font-size: 30px; padding-left: 20px;" href="#">TroVino</a>
    <!-- <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="#">Sign out</a>
        </li>
    </ul> -->
    <div class="col-sm-8 col-md-9">&nbsp;</div>
    <div class="col-sm-1 col-md-1"><img src="{% static 'coop_challenge/img/2560px-Coop.png' %}" style="width: 70px;height: auto;"></div>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky" style="display: block !important;">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">
                            <span class="sr-only">&nbsp;</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <div style="padding: 10px;"><div class="input-group mb-2">
                            <input type="text" class="form-control" style = "font-size: 20px; padding-bottom: 10px"placeholder="My cellar ..." aria-label="My cellar" aria-describedby="My cellar">
                            <button class="btn btn-outline-secondary" type="button" id="search-btn"><i data-feather="search"></i></button>
                        </div></div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style = "font-size: 20px ; padding-top: 10px; padding-bottom: 30px;" href="#">
                            <span data-feather="tag"></span>
                            Scan and label
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style = "font-size: 20px; padding-bottom: 30px;" href="#">
                            <span data-feather="users"></span>
                            Recommend wine
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style = "font-size: 20px" href="#">
                            <span data-feather="info"></span>
                            About
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main id="mainscreen" role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            {% block body %}
            
            {% endblock %}
        </main>
    </div>
</div>

<style>
    #mainscreen {
        margin-left: 16.66666667%;
    }
</style>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static 'coop_challenge/js/jquery-3.6.1.min.js' %}"></script>
<script src="{% static 'coop_challenge/js/popper.min.js' %}"></script>
<script src="{% static 'coop_challenge/js/bootstrap.bundle.js' %}"></script>

<!-- Icons -->
<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
<script>
    feather.replace()
</script>

</body>
</html>

