{% extends 'coop_challenge/base.html' %}

{% block body %}
<!-- <script src="js/html5-qrcode.js"></script> -->
<div class="d-flex justify-content-center">
    <div style="width: 60%" id="reader"></div>
</div>

<div id="resultScan" class="d-flex justify-content-center">

</div>

<script>
  function onScanSuccess(decodedText, decodedResult) {
    html5QrcodeScanner.clear();
    var decodedText_int = parseInt(decodedText);
    $("#resultScan").html("<div class='row d-flex justify-content-center' style='width: 60%; margin-top: 100px;'><div class='col-12 d-flex justify-content-center' style=\"font-size:18px;\"><strong>Artikelnummer/Bar code gescannt:</strong><span style=\"color:#ffa500;\">&nbsp"+decodedText+"</span></div><br><br><br><br><div class='col-5 d-flex justify-content-center'><a href=\"printlabel/"+decodedText+"\"><button class='btn btn-primary btn-lg'>Label drucken</button></a></div><div class='col-5 d-flex justify-content-center'><a href=\"printpdf/"+decodedText+"\"><button class='btn btn-primary btn-lg'>Datenblatt drucken</button></a></div></div>".replace('decodedText_str', decodedText_int));
  }

  var html5QrcodeScanner = new Html5QrcodeScanner(
          "reader", { fps: 10, qrbox: 350 });
  html5QrcodeScanner.render(onScanSuccess);
</script>
{% endblock %}